html{
  scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
  }
  a{
    text-decoration: none;
    padding:1rem;
    color: aliceblue;
  }
  li{
    display: inline-block;
  }
  li.right{
    float: right;
    list-style: none;
    margin-right: 1rem;
  }

  .header{
    background-color: transparent;
    border-bottom: solid 1px rgb(204, 204, 204);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    border: none;
  }
  nav{
    background-color: rgba(44, 27, 107, 0.9);
    padding: 2px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    transition: background-color 0.5s;
  }
  a:hover{
    background-color: rgb(90, 67, 158);
    border-radius: 4px;
  }